@model Tuple<IEnumerable<Model.Book>, int>

@{
    ViewBag.Title = "ChooseBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChooseBook</h2>


<table class="table">
    <tr>
        <th>
            ISBN
        </th>
        <th>
            Titel
        </th>
        <th>
            Stock
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Item1)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
        @{
            var BookID = item.Id;
            @using (Html.BeginForm("MakeLoan", "MakeALoan", FormMethod.Post))
            {

                    @Html.HiddenFor(x => BookID)
                    @Html.HiddenFor(x => x.Item2)

                <input type="submit" name="Choose Book" value="Choose Book" />


            }
        }
            @*@Html.ActionLink("CHoose Book", "MakeLoan", new { BookId=item.Id, LoanerId=Model.Item2 })*@
        </td>
    </tr>
}

</table>
